<!DOCTYPE html>
<html>
  <head>
    <title>FrontExample</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div id='top'>
      <div class="cont">
        Teste topo
      </div>
    </div>
    <div class="cont">
    <%= yield %>
    </div>
    <div id='rodape'>
      <div class="cont">
        teste rodape
      </div>
    </div>
  </body>
</html>
